<html meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="http://localhost:9000/app.css">
</head>
<style>
    /* .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    } */
    </style>
<script>
    function form_submit(event){
        event.preventDefault();
        var path = new URL(document.location.href).pathname;
        path = path.split('/');
        var token = path[path.length - 1];
        
        var object = {
            password: document.getElementById("password").value,
            verify_password: document.getElementById("verify_password").value,
            token: token
        };
        
        var json = JSON.stringify(object);
        console.log(json);

        const url = "http://localhost:9000/api/auth/resetpassword";
        const other_params = {
            headers : { "content-type" : "application/json; charset=UTF-8"},
            body : json,
            method : "POST",
            mode : "cors"
        };

        fetch(url, other_params)
            .then(function(response) {
            if (response.ok) {
                return response.json();
            } else {
                response.json().then(function(data){
                    console.log(data.message);
                    document.getElementById("warning-message").innerHTML = data.message;
                }).catch(function(error){
                    throw error;
                });
            }
        }).then(function(data) {
            document.getElementById("message").innerHTML = data.encoded;
        }).catch(function(error) {
            document.getElementById("message").innerHTML = error.message;
        });
        return true;
    }
</script>
<body>
    <!-- action="/api/auth/resetpassword" method="post" -->
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <p id="warning-message"><strong>Danger!</strong> Indicates a dangerous or potentially negative action.</p>
      </div>
    <!-- <form onsubmit="return form_submit(event)" id="reset-pass"> -->
    <form  id="reset-pass">
        <h2>Reset Password</h2>
        <h3 id="message"></h3>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password" required />
        </div>
        <div class="input-field">
            <input type="password" name="verify_password" id="verify_password" placeholder="Confirm Password" required />
        </div>
        <!-- <input type="Submit" value="Submit" onclick="form_submit(event)"> -->
        <input type="Submit" value="Submit" >
    </form>
</body>
</html>