<html>
<head>
    <link rel="stylesheet" href="http://localhost:9000/app.css">
</head>
<body>
    <form action="/api/resetpassword" method="post">
        <h2>Login</h2>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <div class="input-field">
            <input type="password" name="verify_password" id="verify_password" placeholder="Confirm Password">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>